@charset "utf-8";

main {
    opacity: 0;
    animation: fadeIn 1.2s ease-out forwards;
}

@keyframes fadeIn {
    form {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.frontpage-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100dvh;
    margin: 0 auto;
    text-align: center;
}

.landscape {
    display: block;
}

.portlate {
    display: none;
}

.zokei-logo {
    width: 12svw;
    aspect-ratio: 61.7264 / 57.8339;
    margin: 42svh auto 0;
    position: relative;
}

:root {
    --ease-out: cubic-bezier(0.3, 0.8, 0.4, 0.95);
}

.zokei-logo__outline {
    width: 100%;
    aspect-ratio: 61.7264 / 57.8339;
    background-image: url(images/common/logo_outline.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transition: opacity 1.4s var(--ease-out);
}

.zokei-logo__line01 {
    width: calc((23.435 / 61.7264) * 100%);
    height: calc((21.1428 / 57.8339) * 100%);
    aspect-ratio: 23.435 / 21.1428;
    position: absolute;
    top: calc((13.9437 / 57.8339) * 100%);
    left: calc((23.4654 / 61.7264) * 100%);
    translate: -50% -50%;
    transform: translateY(0);
    transition: transform 1s var(--ease-out);
}

.zokei-logo__line01 .logo-part__img {
    width: 100%;
    height: 100%;
    background-image: url(images/common/logo_line01.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.zokei-logo__line02 {
    width: calc((23.3087 / 61.7264) * 100%);
    height: calc((23.2675 / 57.8339) * 100%);
    aspect-ratio: 23.3087 / 23.2675;
    position: absolute;
    top: calc((15.006 / 57.8339) * 100%);
    left: calc((46.6998 / 61.7264) * 100%);
    translate: -50% -50%;
    transform: translateY(0);
    transition: transform 1s var(--ease-out);
}

.zokei-logo__line02 .logo-part__img {
    width: 100%;
    height: 100%;
    background-image: url(images/common/logo_line02.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.zokei-logo__line03 {
    width: calc((27.845 / 61.7264) * 100%);
    height: calc((3.0512 / 57.8339) * 100%);
    aspect-ratio: 27.845 / 3.0512;
    background-position-y: bottom;
    position: absolute;
    top: calc((28.1654 / 57.8339) * 100%);
    left: calc((44.4316 / 61.7264) * 100%);
    translate: -50% -50%;
    transform: translateY(0);
    transition: transform 1s var(--ease-out);
}

.zokei-logo__line03 .logo-part__img {
    width: 100%;
    height: 100%;
    background-image: url(images/common/logo_line03.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.zokei-logo__line04 {
    width: calc((24.798 / 61.7264) * 100%);
    height: calc((24.7871 / 57.8339) * 100%);
    aspect-ratio: 24.798 / 24.7871;
    position: absolute;
    top: calc((42.0845 / 57.8339) * 100%);
    left: calc((45.9551 / 61.7264) * 100%);
    translate: -50% -50%;
    transform: translateY(0);
    transition: transform 1s var(--ease-out);
}

.zokei-logo__line04 .logo-part__img {
    width: 100%;
    height: 100%;
    background-image: url(images/common/logo_line04.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.zokei-logo__line05 {
    width: calc((23.4457 / 61.7264) * 100%);
    height: calc((21.1547 / 57.8339) * 100%);
    aspect-ratio: 23.4457 / 21.1547;
    position: absolute;
    top: calc((43.9007 / 57.8339) * 100%);
    left: calc((38.2604 / 61.7264) * 100%);
    translate: -50% -50%;
    transform: translateY(0);
    transition: transform 1s var(--ease-out);
}

.zokei-logo__line05 .logo-part__img {
    width: 100%;
    height: 100%;
    background-image: url(images/common/logo_line05.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.zokei-logo__line06 {
    width: calc((23.3084 / 61.7264) * 100%);
    height: calc((25.5567 / 57.8339) * 100%);
    aspect-ratio: 23.3084 / 25.5567;
    position: absolute;
    top: calc((41.6997 / 57.8339) * 100%);
    left: calc((15.0298 / 61.7264) * 100%);
    translate: -50% -50%;
    transform: translateY(0);
    transition: transform 1s var(--ease-out);
}

.zokei-logo__line06 .logo-part__img {
    width: 100%;
    height: 100%;
    background-image: url(images/common/logo_line06.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.zokei-logo__line07 {
    width: calc((27.8241 / 61.7264) * 100%);
    height: calc((27.8188 / 57.8339) * 100%);
    aspect-ratio: 27.8241 / 27.8188;
    position: absolute;
    top: calc((17.2817 / 57.8339) * 100%);
    left: calc((17.2844 / 61.7264) * 100%);
    translate: -50% -50%;
    transform: translateY(0);
    transition: transform 1s var(--ease-out);
}

.zokei-logo__line07 .logo-part__img {
    width: 100%;
    height: 100%;
    background-image: url(images/common/logo_line07.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.tittle-container {
    font-family: var(--jp-font);
    position: relative;
    margin-top: 8svh;
    transition: opacity 1s ease;

}

.tittle-container h1 {
    font-size: var(--font-size-L);
    letter-spacing: 0.06em;
    line-height: 1.36em;
}

.tittle-container .start-message {
    font-size: var(--font-size-R);
    letter-spacing: 0.04em;
    margin-top: 1em;
}

.tittle-container .prompt-finger {
    position: absolute;
    bottom: -50%;
    right: 46%;
    width: 100px;
    opacity: 0;
    animation: fadeIn .4s ease-in-out 10s forwards;
}

.zokei-logo .prompt-finger {
    position: absolute;
    bottom: -10%;
    right: 50%;
    translate: -50% 0;
    width: 120px;
    opacity: 0;
}

.zokei-logo.active .prompt-finger {
    animation: fadeIn .4s ease-in-out 12s forwards;
}

@media only screen and (max-width: 1279px) {
    .prompt-finger {
        display: none;
    }
}

@media (max-aspect-ratio: 9 / 16) and (orientation: portrait) {
    .prompt-finger {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .prompt-finger {
        display: none;
    }
}


.zokei-logo.active .zokei-logo__outline,
.tittle-container.active {
    opacity: 0;
}

.zokei-logo a {
    display: block;
    pointer-events: none;
}

.zokei-logo.active a {
    pointer-events: auto;
}

.timeline-left,
.timeline-right {
    display: block;
    position: absolute;
    z-index: 99;
    font-family: var(--number-font);
    font-size: var(--font-size-M);
    font-weight: 600;
    letter-spacing: 0.2em;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 0.36s ease-out;
    transition-delay: 1.26s, 0s;
}

.timeline-left {
    top: -1em;
    left: -3.6em;
}

.timeline-right {
    bottom: -1em;
    right: -3.6em;
}

.zokei-logo__line02 .timeline-left,
.zokei-logo__line06 .timeline-left {
    top: auto;
    bottom: -1em;
    left: -3.6em;
}

.zokei-logo__line02 .timeline-right,
.zokei-logo__line06 .timeline-right {
    bottom: auto;
    top: -1em;
    right: -3.6em;
}

.zokei-logo.active .timeline-left,
.zokei-logo.active .timeline-right {
    display: block;
    opacity: 1;
}

.zokei-logo.active .timeline-left:hover,
.zokei-logo.active .timeline-left:active,
.zokei-logo.active .timeline-right:hover,
.zokei-logo.active .timeline-right:active {
    transform: scale(1.16);
}


/* PCのタッチアニメーション */
.zokei-logo.active .zokei-logo__line01 {
    transform: translateX(10svw);
}

.zokei-logo.active .zokei-logo__line02 {
    transform: translateX(30svw);
}

.zokei-logo.active .zokei-logo__line03 {
    transform: translateX(54svw);
}

.zokei-logo.active .zokei-logo__line04 {
    transform: translateX(80svw);
}

.zokei-logo.active .zokei-logo__line05 {
    transform: translateX(104svw);
}

.zokei-logo.active .zokei-logo__line06 {
    transform: translateX(134svw);
}

.zokei-logo.active .zokei-logo__line07 {
    transform: translateX(160svw);
}


/* タブレット */
@media only screen and (max-width: 1279px) {

    .portlate {
        display: block;
    }

    .landscape {
        display: none;
    }

    .zokei-logo {
        width: 18svw;
        margin: 36svh auto 0;
    }

    .tittle-container {
        margin-top: 10svh;
    }

    .tittle-container .start-message {
        font-size: 22px;
        margin-top: 4em;
    }

    .timeline-left,
    .timeline-right {
        font-size: var(--font-size-L);
    }

    .tittle-container .prompt-finger {
        width: 80px;
    }

    /*9:16タッチアニメーション*/
    .zokei-logo.active .zokei-logo__line01 {
        transform: translateY(-26svh);
    }

    .zokei-logo.active .zokei-logo__line02 {
        transform: translateY(-14svh);
    }

    .zokei-logo.active .zokei-logo__line03 {
        transform: translateY(-4svh);
    }

    .zokei-logo.active .zokei-logo__line04 {
        transform: translateY(6svh);
    }

    .zokei-logo.active .zokei-logo__line05 {
        transform: translateY(16svh);
    }

    .zokei-logo.active .zokei-logo__line06 {
        transform: translateY(28svh);
    }

    .zokei-logo.active .zokei-logo__line07 {
        transform: translateY(44svh);
    }
}

/*展示用ディスプレイの処理*/
@media (max-aspect-ratio: 9 / 16) and (orientation: portrait) {

    .portlate {
        display: block;
    }

    .landscape {
        display: none;
    }

    .zokei-logo {
        width: 22svw;
        margin: 36svh auto 0;
    }

    .tittle-container {
        margin-top: 10svh;
    }

    .tittle-container .start-message {
        margin-top: 4em;
        font-size: 36px;
    }

    .timeline-left,
    .timeline-right {
        font-size: var(--font-size-M);
    }

    .tittle-container .prompt-finger {
        right: 36%;
        width: 160px;
    }

    .zokei-logo .prompt-finger {
        bottom: -60px;
        right: 100%;
        width: 12em;
    }

    /*9:16タッチアニメーション*/
    .zokei-logo.active .zokei-logo__line01 {
        transform: translateY(-26svh);
    }

    .zokei-logo.active .zokei-logo__line02 {
        transform: translateY(-14svh);
    }

    .zokei-logo.active .zokei-logo__line03 {
        transform: translateY(-4svh);
    }

    .zokei-logo.active .zokei-logo__line04 {
        transform: translateY(6svh);
    }

    .zokei-logo.active .zokei-logo__line05 {
        transform: translateY(16svh);
    }

    .zokei-logo.active .zokei-logo__line06 {
        transform: translateY(28svh);
    }

    .zokei-logo.active .zokei-logo__line07 {
        transform: translateY(44svh);
    }
}

/* スマホ（〜767px） */
@media only screen and (max-width: 767px) {
    :root {
        --font-size-L: 24px;
        --font-size-M: 16px;
    }

    .portlate {
        display: block;
    }

    .landscape {
        display: none;
    }

    .tittle-container {
        margin-top: 10svh;
    }

    .tittle-container .start-message {
        font-size: 14px;
        margin-top: 2em;
    }

    .timeline-left,
    .timeline-right {
        font-size: var(--font-size-L);
    }
}